<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Welcome
    </title>
    <link rel="stylesheet" href="assets/board.css">
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script defer>
        let player_colors = ['lightgreen', 'lightblue', 'pink', 'yellow']
        let player_ready=false;
        let tiles= [
      {"id": "go"},
      {"id": "mediterraneanave"},
      {"id": "reward1"},
      {"id": "balticave"},
      {"id": "incometax"},
      {"id": "readingrailroad"},
      {"id": "orientalave"},
      {"id": "risk1"},
      {"id": "vermontave"},
      {"id": "connecticutave"},
      {"id": "jail"},
      {"id": "stcharlesplace"},
      {"id": "electriccompany"},
      {"id": "statesave"},
      {"id": "virginiaave"},
      {"id": "pennsylvaniarailroad"},
      {"id": "stjamesplace"},
      {"id": "reward2"},
      {"id": "tennesseeave"},
      {"id": "newyorkave"},
      {"id": "park"},
      {"id": "kentuckyave"},
      {"id": "risk2"},
      {"id": "indianaave"},
      {"id": "illinoisave"},
      {"id": "borailroad"},
      {"id": "atlanticave"},
      {"id": "ventnorave"},
      {"id": "waterworks"},
      {"id": "marvingardens"},
      {"id": "arrest"},
      {"id": "pacificave"},
      {"id": "northcarolinaave"},
      {"id": "reward3"},
      {"id": "pennsylvaniaave"},
      {"id": "shortlinerailroad"},
      {"id": "risk3"},
      {"id": "parkplace"},
      {"id": "luxurytax"},
      {"id": "boardwalk"}
    ]
    let ws=null;
        function init() {
            console.log("LOADED")
            $(".balticave .secondhouse").css("visibility", "visible");
            $("#iam").text('{{email}}')
            const socketProtocol = (window.location.protocol === 'https:' ? 'wss:' : 'ws:')
            const echoSocketUrl = socketProtocol + '//' + window.location.hostname + ':' + window.location.port + '/ws'
            ws = new WebSocket(echoSocketUrl);
            ws.addEventListener("open", () => {
                console.log("We are connected");
                ws.send(JSON.stringify({'msgType':'register','name':'{{email}}', 'user':'{{email}}' }))
            });
            resetBoard();

            ws.addEventListener('message', (msg) => {
                let obj = JSON.parse(msg.data);
                let gamestate=obj.gamestate;
                let player_id='{{email}}';
                let player_idx=gamestate.player_list.findIndex(p=>p==player_id);
                let player_state=gamestate.player_states[player_idx];
                console.log("PLAYER STATE: + " + player_state)
                populateBoard(gamestate.board, gamestate.player_list);
                populatePlayers(gamestate.player_names, gamestate.player_wallets,gamestate.player_positions,gamestate.board);
                populatePlayerStatus(player_state);
               
                if (obj.msgType =='update') {
                    console.log("Just an update");
                }
            });
        };
        function start_game() {
            console.log("Button Click")
            ws.send(JSON.stringify({msgType:'start_game',player:'{{email}}'}))
            $("#start_game_button").prop('disabled', true);
        }
        function roll() {
            ws.send(JSON.stringify({msgType:'roll'}))
        }
        function rollOutOfJail() {
            ws.send(JSON.stringify({msgType:'jail_roll'}))
        }
        function payOutOfJail() {
            ws.send(JSON.stringify({msgType:'jail_pay'}))
        }
        function userMgtInput() {
            $("#done_button").prop('disabled', false);
        }
        function done() {
            ws.send(JSON.stringify({msgType:'done'}));
            $("#done_button").prop('disabled', true);
        }
        function populatePlayerStatus(mode) {
            console.log("USING STATE: " + mode)
            switch(mode){
                case 'NOTREADY':
                    $("#start_game_button").prop('disabled',false);
                    $("#roll_button").prop('disabled',true);
                    $("#done_button").prop('disabled',true);
                    break;
                case 'WAITING':
                    $("#start_game_button").prop('disabled',true);
                    $("#roll_button").prop('disabled',true);
                    $("#done_button").prop('disabled',true);
                    break;
                case 'ROLLREADY':
                    $("#start_game_button").prop('disabled',true);
                    $("#roll_button").prop('disabled',false);
                    $("#done_button").prop('disabled',true);
                    break;
                case 'DOSOMETHING':
                    $("#start_game_button").prop('disabled',true);
                    $("#roll_button").prop('disabled',true);
                    $("#done_button").prop('disabled',false);
                    break;
            }
        }
        function populatePlayers(player_names,player_wallets, player_positions) {
            console.log('Populate Players!')
            for (let i=0;i<player_names.length;i++) {
                let player_id = '#player' + (i+1);
                $(player_id+' .name').text(player_names[i]);
                $(player_id + ' .account').text(player_wallets[i]);

            }
            for (let i=0;i<40;i++) { 
                for (let j=0;j<player_names.length;j++) {
                    let selector = '.' + tiles[i].id + " .player" + (j+1);
                    if (player_positions[j] == i) $(selector).css("visibility", "visible");
                    else $(selector).css("visibility", "hidden");
                    
                }
                for (let j=player_names.length;j<4;j++) {
                    let selector = '.' + tiles[i].id + " .player" + (j+1);
                    $(selector).css("visibility", "hidden");
                }
            }
            
        }
         function resetBoard() {

 
            for (let i=0;i<40;i++) { 
                for (let j=0;j<4;j++) {
                    let selector = '.' + tiles[i].id + " .player" + (j+1);
                    $(selector).css("visibility", "hidden");
                    
                }
            }
     
        }

        function populateBoard(board, player_list) {
            board.forEach(tile => {
                let selector = '.' + tile._id;
 
                if (tile.hasOwnProperty('_house_count')) {
                    if (tile._house_count > 4) {

                        $(selector + ' .hotel').css("visibility", "visible");
                        $(selector + ' .fourthhouse').css("visibility", "hidden");
                        $(selector + ' .thirdhouse').css("visibility", "hidden");
                        $(selector + ' .secondhouse').css("visibility", "hidden");
                        $(selector + ' .firsthouse').css("visibility", "hidden");
                    }
                    else {

                        $(selector + ' .hotel').css("visibility", "hidden");
                        if (tile._house_count == 4) $(selector + ' .fourthhouse').css("visibility", "visible");
                        else $(selector + ' .fourthhouse').css("visibility", "hidden");
                        if (tile._house_count >= 3) $(selector + ' .thirdhouse').css("visibility", "visible");
                        else $(selector + ' .thirdhouse').css("visibility", "hidden");
                        if (tile._house_count >= 2) $(selector + ' .secondhouse').css("visibility", "visible");
                        else $(selector + ' .secondhouse').css("visibility", "hidden");
                        if (tile._house_count >= 1) $(selector + ' .firsthouse').css("visibility", "visible");
                        else $(selector + ' .firsthouse').css("visibility", "hidden");
                    }


                }
                if ( tile['group'] != 'Special')
                    if(tile._owned_by != -1) {

                        let player_idx = player_list.findIndex(p => p == tile._owned_by)
                        if (player_idx == -1) {
                            console.log("THIS Should not happen")
                        }
                        $(selector + ' .owner').css({ fill: player_colors[player_idx] })
                    }
                    else {
                 
                        $(selector + ' .owner').css({ fill: 'white' })
                    }
            })
        }

    </script>
</head>


<body onload="init();">
    <div class="board_container">

        <div class="board">
            <div class="board_row">
                <div class="tile">{{> park }}</div>
                <div class="tile">{{> property name='Kentucky Ave.' group='red' orientation='180deg' id='kentuckyave'}}
                </div>

                <div class="tile">{{> risk name='Risk' orientation='180deg' id="risk2"}}</div>
                <div class="tile">{{> property name='Indiana Ave.' group='red' orientation='180deg' id='indianaave'}}
                </div>
                <div class="tile">{{> property name='Illinois Ave.' group='red' orientation='180deg' id='illinoisave' }}
                </div>
                <div class="tile">{{> railroad name='B&O Railroad' orientation='180deg' id='borailroad'}}</div>
                <div class="tile">{{> property name='Atlantic Ave.' group='yellow' orientation='180deg'
                    id='atlanticave'}}</div>
                <div class="tile">{{> property name='Ventor Ave.' group='yellow' orientation='180deg' id='ventnorave'}}
                </div>
                <div class="tile">{{> utility name='Water Wroks' orientation='180deg' id='waterworks'}}</div>
                <div class="tile">{{> property name='Marvin Gardens' group='yellow' orientation='180deg'
                    id='marvingardens'}}</div>
                <div class="tile">{{> arrest }}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='New York Ave.' group='orange' orientation='90deg' id='newyorkave'
                    }}</div>
                <div class="tile">{{> property name='Pacific Ave.' group='green' orientation='270deg' id='pacificave' }}
                </div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='Tennessee Ave.' group='orange' orientation='90deg'
                    id='tennesseeave'}}</div>
                <div class="tile">{{> property name='NC Ave.' group='green' orientation='270deg' id='northcarolinaave'}}
                </div>
            </div>
            <div class="board_row">
                <div class="tile">{{> reward name='Reward' orientation='90deg' id="reward2"}}</div>
                <div class="tile">{{> reward name='Reward' orientation='270deg' id="reward3"}}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='St. James Place' group='orange' orientation='90deg'
                    id='stjamesplace' }}</div>
                <div class="tile">{{> property name='Pennsylvania Ave.' group='green' orientation='270deg'
                    id='pennsylvaniaave' }}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> railroad name='Penn. Railroad' orientation='90deg' id='pennsylvaniarailroad'}}</div>
                <div class="tile">{{> railroad name='Shortline Railroad' orientation='270deg' id='shortlinerailroad'}}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='Virginia Ave.' group='maroon' orientation='90deg' id='virginiaave'
                    }}</div>
                <div class="tile">{{> risk name='Risk' orientation='270deg' id="risk3"}}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='States Ave.' group='maroon' orientation='90deg' id='statesave'}}
                </div>
                <div class="tile">{{> property name='Park Place' group='darkblue' orientation='270deg' id='parkplace'}}
                </div>
            </div>
            <div class="board_row">
                <div class="tile">{{> utility name='Electric Company' orientation='90deg' id="electriccompany"}}</div>
                <div class="tile">{{> tax name='TAX $100' orientation='270deg' id="luxurytax" }}</div>
            </div>
            <div class="board_row">
                <div class="tile">{{> property name='St. Charles Place' group='maroon' orientation='90deg'
                    id='stcharlesplace'}}</div>
                <div class="tile">{{> property name='Boardwalk' group='darkblue' orientation='270deg' id='boardwalk'}}
                </div>
            </div>
            <div class="board_row">
                <div class="tile">{{> jail }}</div>
                <div class="tile">{{> property name='Conneticut Ave.' group='lightblue' orientation='0deg'
                    id='connecticutave'}}</div>

                <div class="tile">{{> property name='Vermont Ave.' group='lightblue' orientation='0deg' id='vermontave'
                    }}</div>
                <div class="tile">{{> risk name='Risk' orientation='0deg' id="risk1" }}</div>
                <div class="tile">{{> property name='Oriental Ave.' group='lightblue' orientation='0deg'
                    id='orientalave'}}</div>
                <div class="tile">{{> railroad name='Readingrailroad' orientation='0deg' id='readingrailroad'}}</div>
                <div class="tile">{{> tax name='TAX $200' orientation='0deg' id='incometax' }}</div>
                <div class="tile">{{> property name='Baltic Ave.' group='purple' orientation='0deg' id='balticave' }}
                </div>
                <div class="tile">{{> reward name='Reward' orientation='0deg' id="reward1"}}</div>
                <div class="tile">{{> property name='Mediteranean Ave.' group='purple' orientation='0deg'
                    id='mediterraneanave'}}</div>
                <div class="tile">{{> go }}</div>
            </div>
        </div>
        <div class="player_list">
            <div>I am <span id="iam">whoami</span></div> 
            <div>{{email}}</div> 
            <div id="player1" class="player_details"><div class="name">Player1</div><div class="account"></div></div>
            <div id="player2" class="player_details" ><div class="name">Player2</div><div class="account"></div></div>
            <div id="player3" class="player_details"><div class="name">Player3</div><div class="account"></div></div>
            <div id="player4" class="player_details"><div class="name">Player4</div><div class="account"></div></div>
            <div ><span id="die1">C</span>/<span id="die2">D</span></div>
            <button id="start_game_button" onclick="start_game()">Ready</button>
            <button id="roll_button" onclick="roll()" disabled>Roll</button>
            <button id="done_button" onclick="done()" disabled>Done</button>
        </div>
    </div>
</body>

</html>